{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25% in JP", "not ie <= 10"],
        },
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ]
}
